    /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

    * {
        margin: 0;
        padding: 0;
    }

    body {
        height: 100vh;
        width: 100vw;
        align-items: center;
        background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
        font-size: 12px;
        font-family: 'Kumbh Sans', sans-serif;
        overflow: hidden;
        
    }
    
    .container{
        display: flex;
        max-width: 1120px;
        width: 65%;
        height: 70vh;
        margin: 7.5% auto;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        position: relative;
        
    }

    .content ul li {
        list-style: none;
        margin-top: 20px;
    }
    
    .content {
        width: 40%;
    }

    .titleQuestion {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .box-img {
        position: absolute;
        left: -100px;
        bottom: 26%;
        z-index: 9;
    }
    
    .divWomanImage{
        width: 50%;
        height: 100%;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: 118% 76%;
        background-size: 190%;
        overflow: hidden;
    }
    .divWomanImage img {
        position: relative;
        left: -16%;
        width: 100%;
        margin: 12% auto;
    }

    .title {
        font-size: 1.2em;
        font-weight: 700;
    }

    .text{
        font-size: 1em;
    }

    .invisible .text{
        display: none;
    }

    .titleText {
        font-size: 1.1em;
        font-weight: 700;
    }

    .invisible .titleText {
        font-weight: 400;
    }

    p + div {
        margin-bottom: 10px;
    }

    .arrow{
        transition:ease 0.5s;
    }
    

    .rotate .titleQuestion img {
       
        transform: rotate(180deg);
        
    }

   